<form class="glass short" [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
  @if (newPasswordForm.touched && newPasswordForm.invalid) {
    <p class="error">La contraseña es requerida</p>
    <p class="error">Las contraseña deben ser iguales.</p>
    <p class="error">La contraseña debe tener al menos 8 caracteres.</p>
  }

  <legend>Cambiar contraseña</legend>
  <label for="password">Contraseña:</label>
  <input type="password" name="password" id="password" formControlName="password" />
  <label for="password">Repetir Contraseña:</label>
  <input type="password" name="password" id="password" formControlName="confirmPassword" />
  <button type="submit">Reset</button>
</form>
