<table class="table">
  <caption>
    {{
      tilte()
    }}
  </caption>
  <thead>
    <tr>
      @for (item of columns(); track item) {
        <th>{{ item }}</th>
      }
    </tr>
  </thead>
  <tbody class="glass">
    @for (row of data(); track row) {
      <tr>
        @for (column of columns(); track column) {
          <td>{{ row[column] }}</td>
        }
        <td (click)="handleEdit(row)">Editar</td>
        <td (click)="handleDelete(row)">Borrar</td>
      </tr>
    }
  </tbody>
</table>
