header {
  display: flex;
  width: 100dvw;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  gap: 2em;
}

header div {
  width: 70vw;
}

@media (max-width: 900px) {
  header {
    flex-direction: column;

  }

}
