div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
article{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: max-content;
  transition: 0s;
  background-color: var(--glass-color);
  border-radius: 10px;
  align-items: flex-start;
}
article h4{
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-decoration: var(--color-one) solid underline;
}
article p{
  justify-self: flex-start;
  font-size: 1.2rem;
  word-spacing: 4px;
  line-height: 1.5em;
}
.Tags, .Links{
  display: flex;
  flex-flow: row wrap;
}


@media (max-width: 970px) {
  article{
    max-width: 80vw;
    height: auto;
  }
  article p {
    width: auto;
  }
}
