form,
fieldset {
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow: hidden;
  font-family: var(--font-one), serif;
  border: none;
}
div {
  overflow: hidden;
}
legend {
  text-align: center;
  font-family: var(--font-two), sans-serif;
  font-size: 24px;
  font-weight: bold;
}

input,
textarea,
select,
option,
button {
  font-size: 18px;
  font-family: var(--font-two), serif;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;

  border-radius: 3px;
  border: 2px var(--color-primary-alter) solid;
}
input:focus,
textarea:focus,
select:focus {
  box-shadow: 3px 3px 10px inset var(--color-primary-alter);
  outline: none;
}
textarea {
  resize: both;
}

label {
  color: var(--color-secondary-alter);
  font-size: 20px;
}

button {
  margin: 0 10px;
  color: var(--color-secondary-alter);
  height: 40px;

  transition: 2s background-color;
  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.Buttons {
  height: auto;
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-around;
  justify-self: center;
}

.Buttons button {
  font-size: 0.9em;
  font-family: var(--font-two), serif;
  color: black;
  border: 1px solid var(--color-primary-alter);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
