form,
fieldset {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  font-family: var(--font-one), serif;
  height: 80dvh;
}
fieldset {
  overflow-y: scroll;
  border: none;
}
legend {
  text-align: center;
  font-family: var(--font-two), sans-serif;
  font-size: 30px;
  font-weight: bold;
}

input,
textarea,
select,
option,
button {
  font-size: 18px;
  font-family: var(--font-two), serif;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;

  border-radius: 3px;
  border: 2px var(--color-primary-alter) solid;
}
input:focus,
textarea:focus,
select:focus {
  box-shadow: 3px 3px 10px inset var(--color-primary-alter);
  outline: none;
}
textarea {
  resize: both;
}

label {
  color: var(--color-secondary-alter);
  font-size: 25px;
}

button {
  margin: 0 10px;
  color: var(--color-secondary-alter);
  width: max-content;

  transition: 2s background-color;
  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
