.JoinContainer{
  overflow-y: scroll;
  overflow-x: hidden;
  height: fit-content;
}
.JoinContainer legend{
  font-size: 1.5rem;
  color: var(--color-primary);
  text-align: center;
  padding: 10px;
  margin: 0;
}
.JoinContainer .Buttons{
  display:grid;
  grid-template-columns:1fr 1fr;
  width: 100%;
  padding: 6px;
}
.JoinContainer button{
  padding: 5px;
}

JoinContainerContent{
  box-sizing: border-box;
  height: 90dvh;
}
.Container{
  margin: 10px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,33.33%);
  grid-template-rows: 20px;
  justify-items: start;
  justify-content: space-between;
}
