.JoinContainer{
  overflow-y: scroll;
  overflow-x: hidden;

}
.JoinContainer legend{
  font-size: 1.5rem;
  color: var(--color-primary);
  text-align: center;
  padding: 10px;
  margin: 0;
}
.JoinContainer .Buttons{
  display:grid;
  grid-template-columns:1fr 1fr;
  width: 100%;
  padding: 6px;
}
.JoinContainer button{
  padding: 5px;
}
