@keyframes toggleView {
  from {
    transform: translateY(-100%);
  }

  to{
    transform: translateY(0);
  }

}

.active {
  backdrop-filter:drop-shadow(0 0 4px var(--color-two));
}

nav, ul {
  display: flex;
  flex-direction: row;
  width: 100dvw;
  justify-content: center;
}

ul{
  list-style: none;
  width: 80dvw;
}
img {
  width: 70px;
  height: 70px;
  display: none;
}
li {
  animation: toggleView 1s;
  cursor: pointer;
  margin: 1em;
  padding: 0.3em;
  width: max-content;
  text-align: center;

  color: var(--color-white);
  text-decoration: none;
  border-bottom: var(--color-white) 1px solid;

  font-size: 20px;
  transition: box-shadow  2s;

  &:hover {
    box-shadow: var(--color-two) 0 4px 9px;
    color: var(--color-primary);
  }
}

@media (max-width: 767px) {
  /* Estilos para pantallas de hasta 767px de ancho */
  nav ul, nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
  }
  nav ul li {
    width: 200px;
    height: 1.9em;
    margin: 0.2em;
    font-size: 1.1em;
  }
  img {
    display: inline-block;
  }
}
