article {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  width: 90vw;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
div{

  display: flex;
  flex-flow: row;
  height: fit-content;
  max-height: 80dvh;
  width: 80dvw;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
}


@media (max-width: 1500px) {

  div{
    flex-flow: row wrap;
    justify-content: center;
    width: 80dvw;
    /*height: 10dvh;*/
    overflow-y: auto;
    overflow-x: hidden;
  }

}
