article {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 90vw;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.List{
  display: flex;
  flex-direction: column;
  gap: 15px;
  height:70dvh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Meta{
  flex-flow: row wrap;
  width: 80dvw;
  height: auto;
}

@media (max-width: 1800px) {
 article {
   flex-direction: column;
 }
  .List{
    flex-flow: row wrap;
    width: 80dvw;
    height: auto;
  }

}
