article {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 90vw;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.List{
  display: flex;
  flex-direction: column;
  gap: 15px;
  height:70dvh;
  overflow-y: scroll;
  overflow-x: hidden;
}


@media (max-width: 767px) {
  /* Estilos para pantallas de hasta 767px de ancho */
 article {
   flex-direction: column;
 }

}
