.Proyect{
  display: flex;
  flex-direction: column;
  gap:1em;
  padding: 1rem;
  width: 30vw;
  border-radius: 0px;
  transition: 0s;
  background-color: rgb(168, 136, 181);
}
.Proyect p{
  align-self: center;
  word-spacing: 4px;
  width: 20vw;
  line-height: 1.5em;
  color:black;
}
.Proyect .Tags{
  display: flex;
  flex-flow: row wrap;
}

@media (max-width: 767px) {
  /* Estilos para pantallas de hasta 767px de ancho */
  .Proyect{
    min-width: 90vw;

  }
  .Proyect p{

    width: auto;

  }
}
