.Proyect{
  display: flex;
  flex-direction: column;
  gap:1em;
  padding: 1rem;
  width: 30vw;
  border-radius: 0px;
}
.Proyect p{
  align-self: center;
  word-spacing: 4px;
  width: 20vw;
  line-height: 1.5em;
}
.Proyect .Tags{
  display: flex;
  flex-flow: row wrap;
}

