a {
  color: var(--color-primary-alter);
}
a:before {
  content: '';
  color: var(--color-primary);
  display: inline-block; /* Needed to set width and height */
  width: 16px; /* Adjust as needed */
  height: 16px; /* Adjust as needed */
  background-image: url('/asset/link.svg'); /* Path to your image */
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
}
