img{
  transition: all 1s ease;
}
.toggle{
  transform: rotateX(45deg);
  filter: drop-shadow(0px 1px 3px rgba(0,0,0,0.2)) ;
}
.appear {
  display: flex;

}
.hide{
  display: none;
}
img:hover {
  transform: scale(1.1);
  filter:

    drop-shadow(0 0 2px var(--color-three))
    drop-shadow(0 0 6px var(--color-white));
}
