<div class="Buttons">
  <button (click)="toggleShow()">
    @if (show()) {
      Ocultar enlaces
    } @else {
      Mostrar enlaces
    }
  </button>
  <button (click)="reset()">Limpiar enlaces</button>
</div>

@if (show()) {
  <div>
    <div>
      Enlaces:
      @for (link of currentLinks(); track $index) {
        <div class="Container">
          <app-link [link]="link" />
          <p (click)="editLink(link)">Editar</p>
          <p (click)="removeLink(link)">Eliminar</p>
        </div>
      }
    </div>

    <app-link-form
      [currentLink]="selectedLink()"
      (linkCreated)="addLink($event)"
      (linkUpdated)="updateLink($event)"
      (cleaned)="handleClearForm()"
    />
  </div>
}
