header{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 3em;

}

header img{
    border: 1px solid white;
    filter: drop-shadow(5px 5px 5px rgba(255, 251, 251, 0.5));
    border-radius: 10px 0 0 10px;
  object-fit: contain;
    height: 16em;
    width: auto;
    margin-right: 3em;
}
header div{
  width: 70vw;
}
header h1{
  font-size: 3em;
}
header h2{
  font-size: 2.5em;
}
header p{
  max-width: 50vw;
  line-height: 2em;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 767px) {
  /* Estilos para pantallas de hasta 767px de ancho */
  header{
    flex-direction: column;
  }
  header img{
    margin: auto;
  }
  header h1{
    text-align: center;
  }
  header p{
    max-width: none;
  }
}
