header{
    display: flex;    
    align-items: center;
    width: 100vw;
    justify-content: center;
    padding-top: 3em;
}

header img{
    border: 1px solid white;
    filter: drop-shadow(5px 5px 5px rgba(255, 251, 251, 0.5));
    border-radius: 50%;
    height: 16em;
    width: 16em;
    margin-right: 3em;
}