@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

div {
  opacity: 0;
  animation-name: slideInUp;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
