<form [formGroup]="EducationForm"  class="glass">
  <div class="header">
    <legend>
      @if (!edit()) {
        Nuevo formación
      } @else {
        Editar formación
      }
    </legend>
  </div>

  <div class="left flex">
    <legend>Datos</legend>
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" formControlName="name" />
    <label for="description">Descripción:</label>
    <textarea name="description" id="description" cols="30" rows="10" formControlName="description"></textarea>
    <label for="startDate">Fecha Inicio:</label>
    <input type="date" name="startDate" id="startDate" formControlName="startDate" />
    <label for="endDate">Fecha Finalización:</label>
    <input type="date" name="endDate" id="endDate" formControlName="endDate" />
  </div>


  <div class="right flex">
    <legend>Metadatos</legend>
      <app-join-project [initialProjects]="currentEducation().projects || []" (finalProjects)="patchProjectsValues($event)" />
      <app-join-link [initialLinks]="currentEducation().links || []" (finalLinks)="patchLinksValues($event)" />
      <app-join-tag [initialTags]="currentEducation().tags || []" (finalTags)="patchTagsValues($event)" />
  </div>
  <div class="actions">
    <legend>Acciones</legend>
    <button type="reset" (click)="clean()">Limpiar.</button>
    <button type="submit" (click)="onSubmit()">
      @if (!edit()) {
        Crear nuevo.
      } @else {
        Guardar cambios.
      }
    </button>
    @if (edit()) {
      <button (click)="deleteEducation()" class="delete">Eliminar.</button>
    }
  </div>

</form>
