<form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()" class="glass">
  <fieldset>
    <legend>Perfil:</legend>
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" formControlName="nombre">
    <label for="presentacion">Presentación:</label>
    <textarea name="presentacion" id="presentacion" cols="30" rows="10" formControlName="presentacion"></textarea>
    <label for="rol">Rol:</label>
    <input type="text" name="rol" id="rol" formControlName="rol">
  </fieldset>
  <button type="submit">Crear</button>
</form>
