<form [formGroup]="linkForm" (ngSubmit)="submitLink()">
  <legend>
    @if (!edit()) {
      Nuevo enlace
    } @else {
      Editar enlace
    }
  </legend>
  <input type="text" formControlName="name" placeholder="Nombre del enlace" />
  <input type="url" formControlName="url" placeholder="URL" />

  <button type="submit">
    @if (!edit()) {
      Crear.
    } @else {
      Editar.
    }
  </button>
  <button type="reset" (click)="clean()">Limpiar.</button>
  @if (edit()) {
    <button (click)="deleteLink()" class="delete">Eliminar.</button>
  }

</form>
