article{
  display: flex;
  width: 80vw;
  height: 10vh;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  transition: none;
}

article div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  width: 100%;
}

article div:first-child{
  width: 30vw;
}

.reverse{
  flex-direction: row-reverse;
}
.reverse div:first-child{

  align-items: end;
}


@media (max-width: 767px) {
  /* Estilos para pantallas de hasta 767px de ancho */
 article{
   min-width: 90vw;
   height: auto;
 }
}
