<section>
  <h2>Acerca de mi</h2>
  <article>
    <p>¡Hola! Soy Bravo Juan, analista y desarrollador web especializado en Laravel y Angular, con base en la hermosa ciudad de Miramar, Buenos Aires.</p>
    <br>
    <p>A lo largo de mi trayectoria, un logro significativo fue la finalización exitosa del frontend de una API de presupuestos, demostrando mi capacidad para construir interfaces robustas y funcionales. Además de contribuir en la estructura y base de datos del proyecto.</p>
    <br>
    <p>
      Me motiva especialmente el trabajo ordenado y la consecución de objetivos cortos y concisos que contribuyen al éxito de un proyecto mayor. Mis metas a futuro son contribuir activamente en proyectos reales y desarrollarme profesionalmente en un entorno de relación de dependencia.
    </p>
    <p>¡No dudes en contactarme si te interesa conocer más sobre mi trabajo!</p>
  </article>

  <a href="https://www.flaticon.es/iconos-gratis/puntero" title="puntero iconos"
    >Puntero iconos creados por Amazona Adorada - Flaticon</a
  >
</section>
