<section>
  <h2>Acerca de mi</h2>
  <p>Soy un desarrollador con 5 años de experiencia en la creación de aplicaciones tecnológicas innovadoras. He desarrollado conocimientos  de bases de datos relacionales y no relacionales. Mi experiencia abarca desde el diseño y desarrollo de interfaces de usuario intuitivas hasta la construcción de robustos backends y la optimización de bases de datos. Mi portafolio demuestra mi capacidad para crear aplicaciones web completas y escalables, desde el frontend hasta el backend. Busco unirme a un equipo de desarrollo dinámico donde pueda aplicar mis conocimientos y seguir creciendo profesionalmente, contribuyendo a la creación de productos digitales de alto impacto</p>
</section>
