<section>
  <h2>Admin section</h2>
  <nav>
    <ul>
      <li routerLink="/admin/profile">Perfil</li>
      <li routerLink="/admin/education">Formación</li>
      <li routerLink="/admin/project">Proyectos</li>
      <li routerLink="/admin/tags">Etiquetas</li>
      <li routerLink="/admin/links">Enlaces</li>
    </ul>
  </nav>

  <p>
    Esta sección es para administrar el contenido de la página. Puedes
    agregar, editar o eliminar información relacionada con tu perfil,
    educación, proyectos, etiquetas y enlaces.
  </p>
  <p>
    Asegúrate de tener los permisos necesarios para acceder a esta sección.
    Si tienes alguna duda, contacta al administrador del sitio.
  </p>
  <br>
  <h3>Acciones adicionales</h3>
  <ul>
    <li routerLink="/password-reset">
      Reestablecer contraseña
    </li>
  </ul>
  <router-outlet />
</section>
