footer {
  display:flex;
  flex-direction: column;
  background-color: var(--color-black-secondary);



  min-height: 70px;
  width: 100dvw;
  font-size: large;

}
a,
p {
  color: var(--color-white-secondary);
  margin: 5px;
  text-align: center;
}

@media (max-width: 767px) {
  footer {
    position: relative;
    align-items: center;
  }
}
