footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black-secondary);
  min-height: 70px;
  width: 100dvw;
  font-size: large;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  margin-top: 20px;
}
a,
p {
  color: var(--color-white-secondary);
  margin: 5px;
  text-align: center;
}

@media (max-width: 767px) {
  footer {
    position: relative;
    align-items: center;
  }
}
