footer{
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  color: var(--color-white);
  justify-content: center;
  align-items: flex-start;
  min-height: 70px;
}
a,p{
  margin: 5px;
}

@media (max-width: 767px) {
  /* Estilos para pantallas de hasta 767px de ancho */
  footer{
    position: relative;
  }
}
