footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  justify-content: center;
  align-items: flex-start;
  min-height: 70px;
}
a,
p {
  margin: 5px;
}

@media (max-width: 767px) {
  /* Estilos para pantallas de hasta 767px de ancho */
  footer {
    position: relative;
  }
}
