<form [formGroup]="projectForm" class="glass">
  <fieldset>
    <legend>
      @if (edit) {
        Editar proyecto
      } @else {
        Nuevo proyecto
      }
    </legend>
    <input type="text" name="name" id="name" formControlName="name" />
    <textarea name="description" id="description" cols="30" rows="10" formControlName="description"></textarea>
    <app-join-tag [initialTags]="currentProject().tags" (finalTags)="patchTagsValues($event)" />
    <app-join-link [initialLinks]="currentProject().links" (finalLinks)="patchLinksValues($event)" />
  </fieldset>

  <div class="Buttons">
    <button (click)="clean()">Limpiar.</button>
    <button (click)="onSubmit()">
      @if (edit) {
        Guardar cambios.
      } @else {
        Crear nuevo.
      }
    </button>
    @if (edit) {
      <button (click)="deleteProject()" class="delete">Eliminar.</button>
    }
  </div>
</form>
