<form [formGroup]="projectForm" class="glass">
  <div class="header">
    <legend>
      @if (!edit()) {
        Nuevo proyecto
      } @else {
        Editar proyecto
      }
    </legend>
  </div>
  <div class="left flex">
    <legend>Datos</legend>
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" formControlName="name" />
    <label for="description">Descripción</label>
    <textarea name="description" id="description" cols="30" rows="10" formControlName="description"></textarea>
  </div>
  <div class="right flex">
    <legend>Metadatos</legend>
    <app-join-tag [initialTags]="currentProject().tags || []" (finalTags)="patchTagsValues($event)" />
    <app-join-link [initialLinks]="currentProject().links || []" (finalLinks)="patchLinksValues($event)" />
  </div>
  <div class="actions">
    <legend>Acciones</legend>
    <button type="reset" (click)="clean()">Limpiar.</button>
    <button type="submit" (click)="onSubmit()">
      @if (!edit()) {
        Crear nuevo.
      } @else {
        Guardar cambios.
      }
    </button>
    @if (edit()) {
      <button (click)="deleteProject()" class="delete">Eliminar.</button>
    }
  </div>
</form>
