<form [formGroup]="tagForm" class="glass">
  <div class="header">
    <legend>
    @if (!edit()) {
      Nueva etiqueta
    } @else {
      Editar etiqueta
    }
    </legend>
  </div>
  <div class="center flex">
    <legend>Datos</legend>
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" formControlName="name" />
  </div>
  <div class="actions">
    <legend>Acciones</legend>
    <button type="reset" (click)="clean()">Limpiar.</button>
    <button type="submit" (click)="onSubmit()">
      @if (!edit()) {
        Crear nuevo.
      } @else {
        Guardar cambios.
      }
    </button>
    @if (edit()) {
      <button (click)="deleteTag()" class="delete">Eliminar.</button>
    }
  </div>

</form>
