<form class="InsideForm" [formGroup]="TagForm" (ngSubmit)="onSubmit()">

    <legend>
      @if (!edit()) {
        Nueva tag
      } @else {
        Editar tag
      }
    </legend>
    <input
      type="text"
      name="nombre"
      id="nombre"
      formControlName="name"
      placeholder="Etiqueta..."
    />

    <button type="submit">
      @if (!edit()) {
        Crear.
      } @else {
        Editar.
      }
    </button>
    <button type="reset" (click)="clean()">Limpiar.</button>
    @if (edit()) {
      <button (click)="deleteTag()" class="delete">Eliminar.</button>
    }


</form>
