<div class="Buttons">
  <button (click)="toggleShow()">
    @if (show()) {
      Ocultar etiquetas
    } @else {
      Mostrar etiquetas
    }
  </button>
  <button (click)="reset()">Limpiar tags</button>
</div>

@if (show()) {
  <div>
    <div>
      Etiquetas:
      @for (tag of currentTags(); track $index) {
        <div class="Container">
          <app-tag [tag]="tag" />
          <p (click)="editTag(tag)">Editar</p>
          <p (click)="removeTag(tag)">Eliminar</p>
        </div>
      }
    </div>

    <div class="Buttons">
      <button (click)="toggleShowSearch()">
        @if (showSearch()) {
          Ocultar busqueda
        } @else {
          Mostrar busqueda
        }
      </button>
      <button (click)="toggleShowForm()">
        @if (showForm()) {
          Ocultar formulario
        } @else {
          Mostrar formulario
        }
      </button>
    </div>

    @if (showSearch()) {
      <app-tag-searcher (tagSelected)="addTag($event)" />
    }
    @if (showForm()) {
      <app-tag-form
        [currentTag]="selectedTag()!"
        (tagUpdated)="updateTag($event)"
        (tagCreated)="addTag($event)"
        (cleaned)="handleClearForm()"
      />
    }
  </div>
}
