:root {
  --color-one: #86a6fb;
  --color-two: rgb(168, 136, 181);
  --color-three: rgb(238, 201, 144);

  --color-black: #292929;
  --color-black-secondary: #261f00;

  --color-white: #dcdcdc;
  --color-white-secondary: #fcfcfa;

  --color-primary: var(--color-black);
  --color-primary-alter: var(--color-black-secondary);

  --color-gray: rgba(200, 200, 200, 0.5);
  --glass-color: rgba(129, 116, 160, 0.2);
  --glass-border-color: rgba(255, 255, 255, 0.125);

  --background: linear-gradient(60deg, var(--color-one), var(--color-two));

  --font-one: 'Montserrat', sans-serif;
  --font-two: 'Poppins', sans-serif;
}

.dark-theme {
  transition: 1s background;
  --color-primary: var(--color-white);
  --color-primary-alter: var(--color-white-secondary);
  --color-one: #1e2f54;
  --color-two: #480967;
  --color-three: #4c2d14;
}

@keyframes main1 {
  0% {
    background-position: 0 50%;
    background-size: 100vw;
  }

  50% {
    background-position: 100% 20%;
    background-size: 300vw;
  }

  100% {
    background-position: 0 50%;
    background-size: 100vw;
  }
}

* {
  padding: 0;
  margin: 0;
  color: var(--color-primary);
  font-family: var(--font-one), sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-one);
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary-alter);
  border-radius: 1px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-alter) var(--color-one);


  background: var(--background);
  background-size: 190%;
  background-attachment: fixed;
  animation-timing-function: ease-in;
  animation-name: main1;
  animation-duration: 50s;
  animation-iteration-count: infinite;

  overflow: hidden;
  overflow-y: auto;
}
main {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

h1,
h2 {
  font-family: var(--font-two), sans-serif;
}
h2 {
  align-self: flex-start;
}

a {
  border: none;
  text-decoration: none;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 90vw;
  margin-left: 2vw;
  margin-right: 2vw;
}
article {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--glass-color);
  border-radius: 12px;
  border: 1px solid var(--glass-border-color);
  transition: 1s;
}

.Container {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}
.Container * {
  margin: 5px 0;
}
button,
input {
  color: var(--color-primary);
  font-size: 17px;
}

.glass:hover {
  box-shadow: 0 2px 10px var(--color-primary-alter);
}


@media (max-width: 767px) {
  /* Estilos para pantallas de hasta 767px de ancho */
  section, article {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
