@keyframes main1 {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
*{
    padding: 0;
    margin: 0;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
}
main{
    overflow-y:auto;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;



    gap:3em;
    background: radial-gradient( circle farthest-corner at 83.7% 4.3%, rgb(88, 4, 87) 0%, rgb(168, 136, 181), rgba(255, 210, 160,0.9));

    background-size: 190%;
    animation-timing-function: ease;
    animation-name: main1;
    animation-duration: 20s;
    animation-iteration-count:infinite;
}
h2{
    color:black;

}
h1,h2{
    font-family: 'Poppins', sans-serif;
}
a{
    color:aliceblue;
    text-decoration: dashed;
}

section{
    /*background:rgba(255,255,255,.6);*/
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  width: 100vw;
}
.partAboutme{
    height:22em;
}
.partAboutme img{
    border: 5px dashed white;
    border-radius:50%;
    height:16em;
    width:16em;
}
.partSkills, .partContact{
    background:rgb(147 147 147 / 60%);
}
.partSkills div{
    display: flex;
    justify-content:space-around;
    width:100%;
}
.partProyects{
    flex-direction:row;
    gap:1em;
    justify-content:space-around;
}
article{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.glass{
    backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(129, 116, 160,0.8);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  animation-duration: 1s;
}

.glass:hover{
  box-shadow: 0 10px 10px rgb(129, 116, 160);
}
