.Project{
  display: flex;
  flex-direction: column;

  padding: 1rem;
  width: 30vw;
  transition: 0s;
  background-color: var( --color-three);
}
.Project p{
  align-self: center;
  word-spacing: 4px;
  width: 20vw;
  line-height: 1.5em;
  color:var(--color-black)
}
.Project .Tags{
  display: flex;
  flex-flow: row wrap;
}

@media (max-width: 767px) {
  .Project{
    min-width: 80vw;
    height: auto;

  }
  .Project p{
    width: auto;
  }
}
