.Project {

}

.Project p {

}
.Project .Tags {
  display: flex;
  flex-flow: row wrap;
}

@media (max-width: 800px) {
  .Project {
    min-width: 80vw;
    height: auto;
  }
  .Project p {
    width: auto;
  }
}
