article {
  display: flex;
  width: 50dvw;
  justify-content: center;

}
header h2 {
  color: var(--color-primary-alter);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-one);
  align-self: flex-start;
}

article img {
  border: 1px solid white;
  filter: drop-shadow(5px 5px 5px rgba(255, 251, 251, 0.5));
  border-radius: 10px 0 0 10px;
  object-fit: contain;
  margin-right: 3em;

  max-height: 400px;
  /*aspect-ratio: 9/16;*/
  max-width: 200px;
}
article div {
  width: 70vw;
}
article h1 {
  font-size: 3em;
}
article h2 {
  font-size: 2.5em;
}
article p {
  max-width: 50vw;
  line-height: 2em;
  font-family: var(--font-two), 'sans-serif';
}

div:first-child {
  position: relative;
}

@media (max-width: 680px) {

  article {
    width: 90dvw;
    flex-direction: column;
    align-items: start;
  }
  article img {
    align-self: center;
    margin-bottom: 16px;
  }
  article h1 {
    font-size: 2.5em;
  }
  article h2{
    font-size: 2em;
  }
  article p {
    max-width: none;
  }
}
