article {
  display: flex;
  width: 50dvw;
  justify-content: center;
  align-items: center;
}
header h2 {
  color: var(--color-primary-alter);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-one);
  align-self: flex-start;
}

article img {
  border: 1px solid white;
  filter:
    drop-shadow(5px 5px 5px rgba(255, 251, 251, 0.5))
    grayscale(var(--grayscale));
  border-radius: 10px 0 0 10px;
  object-fit:cover;
  margin-right: 3em;
  max-height: 300px;
  aspect-ratio: 2/3;
  max-width: 200px;
  transition: all 2s;
}

article img:hover {
  transform: scale(1.05) ;
  drop-shadow(5px 5px 5px var(--color-primary-alter));
  transition: transform 0.3s ease-in-out;
}
article div {
  width: 70vw;
}
article h1 {
  font-size: 3em;
}
article h2 {
  font-size: 2.5em;
}
article p {
  max-width: 50vw;
  line-height: 2em;
  font-family: var(--font-two), 'sans-serif';
}

div:first-child {
  position: relative;
}

@media (max-width: 680px) {

  article {
    width: 90dvw;
    flex-direction: column;
    align-items: start;
  }
  article img {
    align-self: center;
    margin-bottom: 16px;
  }
  article h1 {
    font-size: 2.5em;
  }
  article h2{
    font-size: 2em;
  }
  article p {
    max-width: none;
  }
}
