@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

div{
  width: 92vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 1rem;

  opacity: 0;

  animation-name: slideInUp;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

