<section>
  <h2>Contacto</h2>
  <article>
    <app-contact img="asset/github.svg" nickname="Juancho43" [url]="profile.github" class="glass"/>
    <app-contact img="asset/linkedin.svg" [url]="profile.linkedin"  nickname="Juan Alé Bravo" class="glass"/>
    <app-contact img="asset/email.svg" [url]=" 'mailto:'+profile.publicMail"  nickname="Mandame un mail" class="glass"/>
    <app-contact img="asset/cv.svg" [url]=" environment.public_url+profile.cv"  nickname="Mira mi CV" class="glass"/>

  </article>
</section>
